body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font: inherit;
    text-align: center;
    color: white;
    vertical-align: middle;
    background-color: #fb565a;
    border: none;
}

button:hover {
    background-color: #e74246;
}

button:active {
    background-color: #d7363b;
}

.main-header {
    background-color: #eee;
}

.site-navigation li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.site-navigation li a:hover {
    color: #ff535d;
}

.site-navigation li a:active {
    color: #bbb;
}

.user-navigation li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 500;
    color: black; 
}

